﻿@{
    ViewBag.Title = "Home Page";
}


<div id="caro1" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#caro1" data-slide-to="0" class="active"></li>
		<li data-target="#caro1" data-slide-to="1"></li>
		<li data-target="#caro1" data-slide-to="2"></li>
		<li data-target="#caro1" data-slide-to="3"></li>
		<li data-target="#caro1" data-slide-to="4"></li>
		<li data-target="#caro1" data-slide-to="5"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img src=~/imgs/3.jpg style="width:100%" alt="Goods">
		</div>

		<div class="item">
			<img src=~/imgs/4.jpg style="width:100%" alt="Sale!">
		</div>

		<div class="item">
			<img src=~/imgs/1.jpg style="width:100%" alt="New Stuff">
		</div>
		<div class="item">
			<img src=~/imgs/2.jpg style="width:100%" alt="Monthly">
		</div>
		<div class="item">
			<img src=~/imgs/5.jpg style="width:100%" alt="Ranked">
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#caro1" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#caro1" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="row panel-body">
	@for (int i = 0; i < 16; i++)
	{
	<div class="col-xs-18 col-sm-4 col-md-3">
		<div class="productbox panel-danger">
			<div class="imgthumb img-responsive">
				<img src=~/imgs/p2.jpg />
			</div>
			<div class="caption">
				<h5>Lorem ipsum dolor sit amet</h5>
				<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
			</div>
		</div>
	</div>
	}
</div>




