﻿
	<div class="jumbotron" style="background-color:lightgreen;">
		<h1>Footer</h1>
		<p>
			Bootstrap is the most popular HTML, CSS, and JS framework for developing
			responsive, mobile-first projects on the web.
		</p>
	</div>

