﻿
<div style="padding: 15PX;">
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-8">
			<img src=~/imgs/mainlogo.png style="width:441px; height:70px;"/>
		</div>
		<div class="col-lg-3 col-md-2 col-sm-2">
			<div class="form-group" style="padding-top:8%;">
				<input class="form-control input-sm" id="inputsm" type="text" value="Bir tasarım ara...">
			</div>
		</div>
		<div class="col-lg-3 col-md-2 col-sm-2">
			<div style="padding-top:5%;">
				<button style="float:right;" class="btn btn-success btn-lg">Giriş</button>
				<button style="float:right;" class="btn btn-warning btn-lg">Üye Ol</button>
			</div>
		</div>
	</div>
</div>
	<nav class="navbar navbar-default" style="background-color:palegreen;">

			<div class="navbar-header">
				<a class="navbar-brand" href="#">Kategoriler</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Anasayfa</a></li>
				<li><a href="#">Ürünler</a></li>
				<li><a href="#">Kampanya</a></li>
				<li><a href="#">Yeni Tasarımlar</a></li>
			</ul>

	</nav>


