﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-image: url(https://i.hizliresim.com/Ay1Gr0.png);">
		<div class="container" style="background-color:#AAFFC9;">
			@Html.Partial("_Header")
			@RenderBody()
			@Html.Partial("_Footer")
		</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


